<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_PSMODULE">
        <MAINMENU id="psBlocks">
            <SUBMENU id="psblocks_tplblockslist" cl="psblocks_tplblocksframe" list="psblocks_tplblockslist">
                <TAB id="psblocks_tplblocksmain" cl="psblocks_tplblocksmain" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>